.navbar{
    width: 100%;
    height: 6rem;
    background-color: #111;
    color: #fff;
    display: flex;
    flex-direction: row;
    padding: 1.5rem 1rem;
    justify-content: space-between;
    align-items: center;
    h1{
        color: #fff;
        font-size: 1.5rem;
        cursor: pointer;
    }
    &:hover h1{
        color: rgb(122, 199, 7);
    }
}

.navbar--links{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    li{
        margin-right: 1.2rem;
        a{
            color: #fff;
            text-decoration: none;
            display: flex;
            align-items: center;
            .cart--icon{
                margin: 0 0.3rem;
            }
            span{
                margin: 0 0.5rem;
            }
        }
    }
    .cart{
        background-color: #333;
        padding: 0.4rem;
        border-radius: 8px;
    }
    .cart:hover{
        background-color: rgb(122, 199, 7);
        color: #fff;
    }
    .cart--counter{
        background-color: #fff;
        border-radius: 50%;
        height: 1.2rem;
        width: 1.2rem;
        color: #000;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        font-size: 1rem;
    }
}

.hamburguer--menu{
    width: 1.8rem;
    height: 1.8rem;
    display: none;
    flex-direction: column; //arriba hacia abajo si fuera row de izq a der
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    div{
        width: 100%;
        background-color: #fff;
        height: 3px;
    }
    &:hover > div{
        background-color: rgb(122, 199, 7);
    }
}

//media queries
@media (max-width: 960px) {
    .navbar--links{
        display: none;
    }
    .hamburguer--menu{
        display: flex;
    }
}

@media (max-width: 500px) {
    .navbar h1{
        font-size: 1.1rem;
    }
}



